#website-layout div {
  border: 1px solid black;
}

#website-layout {
  position: relative;
  border: 1px solid black;
  height: 670px ; 
  width: 1194px;
}

  #header  {
    position: absolute;
    left: 80px;
    height: 100px; 
    width: 1034px;
  }

  #left-side {
    position: absolute;
    left: 80px;
    top: 130px;
    height: 510px; 
    width: 270px;
  }
    #scoreboard {  
    position: relative;
    height: 120px; 
    width: 270px;
    }
      .playerScore { 
      position: absolute;
      height: 100px; 
      width: 100px;
       }
   
      #player1Score {
      left: 20px;
       }
      #player2Score {
      left: 140px;
       }
   
    #item-list {
    padding-left: 10px;
    position: absolute;
    top: 160px;
    height: 350px; 
    width: 260px;
    }


/*ITEM LIST*/
  /*Image preview*/
  .item-list {
    padding-left: 10px;
    position: absolute;
    top: 160px;
    height: 350px; 
    width: 260px;
  }

   
    /*Descriptions*/
    .description {
      position: absolute;
      width: 180px;
      height: 50px;
      left: 70px;
    }
      #description1 { 
        top: 50px;

       }
      #description2 {
        top: 110px;
      }

      #description3 {
       top: 170px;
      }

      #description4 {
       top: 230px;
      }
    
/*Picture*/
  #picture {
    position: relative;
    top: 132px;
    left: 382px;
    height: 510px; 
    width: 730px;
    background-repeat: no-repeat;

  }

/*Levels*/
  #itemsPictures div {
    position: absolute;
    background-size: 730px 510px;

    width: 50px;
    height: 50px;
  }

  /*Level 1*/

  #picture.level1 {
    background-image: url("img/img1.png"); 
    background-size: 730px 510px; // HUGE win
  }
  
  #itemsPictures.level1 div {
    background-image: url(img/img1.png);
  }

      #picture.level1 #click1 {
        background-color:rgba(255,255,0,0.3);
        position: absolute;
        height:50px;
        width:50px;
        top:185px;
        left:298px;
      }

      .level1 #section1 {
        top:50px;
        background-position: 432px 325px;
      }


      #picture.level1 #click2 {
        background-color:rgba(50,200,100,0.3);
        position: absolute;
        height:50px;
        width:50px;
        top:330px;
        left:600px;
      }
      .level1 #section2 {
        top: 110px;
        background-position: 130px 180px;
       }
      
      #picture.level1 #click3 {
        background-color:rgba(255,0,0,0.3);
        position: absolute;
        height:40px;
        width:40px;
        top:114px;
        left:3px;
      }

      .level1 #section3 { 
        top: 170px;
        background-position: 727px 396px;
       }

      #picture.level1 #click4 {
        background-color:rgba(255,0,255,0.3);
        position: absolute;
        height:50px;
        width:50px;
        top:105px;
        left:370px;
      } 
      .level1 #section4 { 
        top: 230px;
        background-position: 360px 405px;
        }


  /*Level 2 */
  
  #picture.level2 {
    background-image: url("img/img2.png"); 
    background-size: 730px 510px; 
  }
  #itemsPictures.level2 div {
    background-image: url(img/img2.png);
  }
      #picture.level2 #click1 {
        background-color:rgba(255,255,0,0.3);
        position: absolute;
        height:50px;
        width:50px;
        top:205px;
        left:608px;
      }
      .level2 #section1 {
        top:50px;
        background-position: 122px 305px;
       }


      #picture.level2 #click2 {
        background-color:rgba(50,200,100,0.3);
        position: absolute;
        height:50px;
        width:50px;
        top:390px;
        left:580px;
      }
      .level2 #section2 {
        top: 110px;
        background-position: 150px 120px;
       }
      
      #picture.level2 #click3 {
        background-color:rgba(255,0,0,0.3);
        position: absolute;
        height:40px;
        width:40px;
        top:34px;
        left:243px;
      }

      .level2 #section3 { 
        top: 170px;
        background-position: 487px 476px;
       }

      #picture.level2 #click4 {
        background-color:rgba(255,0,255,0.3);
        position: absolute;
        height:50px;
        width:50px;
        top:205px;
        left:370px;
      } 
      .level2 #section4 { 
        top: 230px;
        background-position: 360px 305px;
        }

    /*Level 3*/

    #picture.level3 {
      background-image: url("img/img3.png"); 
      background-size: 730px 510px; 
    }
    #itemsPictures.level3 div {
      background-image: url(img/img3.png);
    }
        #picture.level3 #click1 {
          background-color:rgba(255,255,0,0.3);
          position: absolute;
          height:50px;
          width:50px;
          top:165px;
          left:330px;
        }
        .level3 #section1 {
          top:50px;
          background-position: 400px 345px;
         }


        #picture.level3 #click2 {
          background-color:rgba(50,200,100,0.3);
          position: absolute;
          height:50px;
          width:50px;
          top:445px;
          left:190px;
        }
        .level3 #section2 {
          top: 110px;
          background-position: 540px 65px;
         }
        
        #picture.level3 #click3 {
          background-color:rgba(255,0,0,0.3);
          position: absolute;
           height:50px;
           width:50px;
           top:210px;
           left:0px;
        }

        .level3 #section3 { 
          top: 170px;
          background-position: 730px 300px;
         }

        #picture.level3 #click4 {
          background-color:rgba(255,0,255,0.3);
          position: absolute;
          height:50px;
          width:50px;
          top:375px;
          left:420px;
        } 
        .level3 #section4 { 
          top: 230px;
          background-position: 310px 135px;
          }

      /*Level 4*/

      #picture.level4 {
        background-image: url("img/img4.png"); 
        background-size: 730px 510px; 
      }
      #itemsPictures.level4 div {
        background-image: url(img/img4.png);
      }
          #picture.level4 #click1 {
            background-color:rgba(255,255,0,0.3);
            position: absolute;
            height:50px;
            width:50px;
            top:375px;
            left:425px;
          }
          .level4 #section1 {
            top:50px;
            background-position: 305px 135px;
           }


          #picture.level4 #click2 {
            background-color:rgba(50,200,100,0.3);
            position: absolute;
            height:50px;
            width:50px;
            top:445px;
            left:190px;
          }
          .level4 #section2 {
            top: 110px;
            background-position: 540px 65px;
           }
          
          #picture.level4 #click3 {
            background-color:rgba(255,0,0,0.3);
            position: absolute;
             height:50px;
             width:50px;
             top:165px;
             left:587px;
          }

          .level4 #section3 { 
            top: 170px;
            background-position: 143px 345px;
           }

          #picture.level4 #click4 {
            background-color:rgba(255,0,255,0.3);
            position: absolute;
            height:50px;
            width:50px;
            top:165px;
            left:330px;
          } 
          .level4 #section4 { 
            top: 230px;
            background-position: 400px 345px;
            }