#website-layout div {
  border: 1px solid black;
}

#website-layout {
  position: relative;
  border: 1px solid black;
  height: 670px ; 
  width: 1194px;
}

  #header  {
  position: absolute;
  left: 80px;
  height: 100px; 
  width: 1034px;
  }

  #left-side {
  position: absolute;
  left: 80px;
  top: 130px;
  height: 450px; 
  width: 250px;
  }
    #scoreboard {  
    position: relative;
    height: 120px; 
    width: 250px;
    }
      .playerScore { 
      position: absolute;
      height: 100px; 
      width: 100px;
       }
   
      #player1Score {
      left: 10px;
       }
      #player2Score {
      left: 130px;
       }
   
    #item-list {
    position: absolute;
    top: 160px;
    height: 290px; 
    width: 250px;
    }
   /* #itemTitle {
      position: relative;
      top:-15px;
      left:10px;
      font-size: 20px;
    }

    .img50x50 {
      position: absolute;
      top: 40px;
      left: 5px;
      height: 50px; 
      width: 50px;
    }
    .itemDescription {
      position: absolute;
      margin-left: 3px;
      top: 40px;
      left: 60px;
      height:50px; 
      width: 180px;
    }*/
  #frame-layout {
  position: absolute;
  top: 132px;
  left: 382px;
  height: 450px; 
  width: 730px;

  }

  /*  #frame {
    position: absolute;
    left: 12.5px;
    top:25px;
    height: 400px; 
    width: 700px;
    }*/

    #frame-layout img { 
    height: 450px;
    width: auto;
    /*margin: 0 auto;*/

    /*vertical-align: ;*/
    }

    